@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  /* Bold, medium y light */
  font-family: 'Montserrat', sans-serif;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Estilo para el subrayado animado */
.text-link-underline {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.text-link-underline::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Altura del subrayado */
  bottom: 0;
  left: 0;
  background-color: #FFFFFF; /* Color del subrayado */
  transition: width 0.3s ease; /* Duración y efecto de la transición */
}

.text-link-underline:hover::before {
  width: 100%; /* Ancho del subrayado al pasar el mouse */
}

/* Hover background animado oscuro */
.text-hover-animated-dark {
  position: relative;
  text-decoration: none;
  color: inherit;
  overflow: hidden; /* Asegura que el fondo no se desborde del contenedor */
}

.text-hover-animated-dark::before {
  content: "";
  position: absolute;
  width: 100%; /* Ancho del fondo que cubrirá el contenedor */
  height: 100%; /* Altura del fondo que cubrirá el contenedor */
  top: 0;
  left: -100%; /* Inicialmente, coloca el fondo fuera del contenedor a la izquierda */
  background-color: #ac3cb4; /* Color del fondo */
  transition: left 0.5s ease; /* Animación de desplazamiento hacia la derecha */
  opacity: .5;
  z-index: -1; 
  border-top-right-radius: .6rem;
  border-bottom-right-radius: .6rem;
}

.text-hover-animated-dark:hover::before {
  left: 0; /* Desplaza el fondo hacia la derecha al pasar el mouse */
}




/* HeadHomePage */
.cursor {
  width: .8em; /* Tamaño del cursor en relación con el tamaño de fuente */
  height: .8em;
  border-radius: 1rem;
  background-color: white;
  display: inline-block;
  margin-left: 4px; /* Espacio entre el cursor y el texto */
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/* Boton de scroll para arriba del Homepage */
.scroll-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: rgba(128, 128, 128, 0.377);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 1.3em;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
}

.scroll-to-top.visible {
  display: flex;
}

.scroll-to-top:hover {
  background-color: gray;
}


/* Estilizar la barra de desplazamiento */
/* Está chulo, pero es menos adaptativo para gente que no tenga teclado o rueda de ratón */
body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(80, 80, 80);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(201, 201, 201);
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(245, 245, 245);
}

.descripcion {
  font-size: xx-small;
}


/* Ajusta el contenedor del panel para manejar el scroll en diferentes pantallas */
.scroll-container {
  max-height: 90vh; /* Limita la altura máxima del contenedor */
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es mayor que el contenedor */
}

/* Opcional: Ajusta la apariencia de los botones si es necesario */
.scroll-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Otros estilos si es necesario */
}


/* Personalización de la los skeletons personalizados*/
.custom-skeleton {
  width: 100%;
  height: 80px;
  background-color: #4a5568; /* Color slate-950 */
  border-radius: 4px;
  margin-bottom: 16px;
}



/* Spinner de carga al guardar */
.spinner-icon {
  border: 2px solid rgba(0,0,0,0.1);
  border-left: 2px solid #ffffff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* En tu archivo CSS o dentro de un bloque <style> en tu componente */
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.bounce-animation {
  animation: bounce 2s ease-in-out infinite;
}

/* Efecto de transición difuminada para texto de información en detalles del juego */

.text-container {
  position: relative;
  max-height: 150px; /* Ajusta la altura a tu gusto */
  overflow: hidden;
}

.expanded {
  max-height: none; /* Mostrar todo el contenido cuando esté expandido */
}

.first-paragraph {
  text-indent: 3rem; /* Ajusta el valor de la sangría a tu gusto */
}

/* Edición de los elementos que se cogen y mueven en la pantalla */
/* .dragged-item {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
}

.droppable-item {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
} */

.config-menu {
  position: absolute; /* Asegura que esté sobre el contenido */
  top: 60px; /* Ajusta según donde quieras posicionarlo */
  right: 10px; /* Ajusta según donde quieras posicionarlo */
  z-index: 50; /* Asegúrate de que el menú esté encima */
}

@layer components {
  .border-gradient {
    border-radius: 0.5rem; /* Bordes redondeados */
    border-width: 2px; /* Grosor fino del borde */
    border-style: solid; /* Define el estilo del borde */
    background: linear-gradient(90deg, #1E3A8A, #FFFFFF, #111827, #fbf9f9, #1E3A8A);
    background-clip: border-box; /* Permite que el fondo se ajuste al borde */
    transition: background-position 1s ease-in-out; /* Transición suave */
    background-size: 400%; /* Aumenta el tamaño para permitir el movimiento */
    animation: gradient-border 7s linear infinite; /* Aplica la animación */
  }

  @keyframes gradient-border {
    0% {
      background-position: 0% 50%; /* Empieza desde la izquierda */
    }
    50% {
      background-position: 100% 50%; /* Mueve el gradiente hacia la derecha */
    }
    100% {
      background-position: 0% 50%; /* Vuelve al inicio */
    }
  }
}


.text-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}

/* Añadir a tu CSS */
.button-border {
  position: relative;
}

